$background-color: #fff;
$background-color-checked: #0d6efd;
$border: 1px solid rgba(0, 0, 0, 0.25);
$border-checked: 1px solid #0d6efd;
$border-focused: 1px solid #86b7fe;
$border-radius: 0.25em;
$box-shadow-focused: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
$background-image-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  &__input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: $background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $border;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.25em;
    float: left;
    margin-left: -1.5em;
    appearance: none;
    margin-right: 20px;
    &:checked {
      background-color: $background-color-checked;
      border: $border-checked;
      background-image: $background-image-checked;
    }
    &:active {
      filter: brightness(90%);
    }
    &:focus {
      border-color: $border-focused;
      outline: 0;
      box-shadow: $box-shadow-focused;
    }
  }
}
