@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-Regular.ttf");
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-Medium.ttf");
  src: url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-Bold.ttf");
  src: url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* colors */
  --clr-main: #fafbff;
  --clr-background: #f2f3f8;
  --clr-white: #ffffff;
  --clr-blue-button: #33adff;
  --clr-hover-blue-button: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  --clr-form-text: #b1bdc2;
  --clr-heading: #292d50;
  --clr-form-terms-text: #3c3c3c;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* font-families */
  --ff-noto-sans: "Noto Sans";
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

@import "./reset";
@import "./colors";
@import "./typography";
@import "./utilities";
